.App {
  text-align: center;
}

.center{
  margin: 0 auto;
}

table {
  font-family: arial, sans-serif;
  width: 50%;
  border: 1px solid #000000;
}

tr th{
  text-align: center;
  background-color : #aaaaaa;
}

td, th {
  border: 1px solid #ffffff;
  background-color : #ff7f50;
  text-align: left;
  padding: 2px;
}

.blocktugas12{
  width: 50%;
  margin: 0 auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.paddingright{
  padding-right: 10px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li{
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
